.home {
  &__statistics {
    margin-top: 110px;
    display: block;
  }

  &__about {
    display: block;
    margin-top: 150px;
  }

  &__fishki {
    display: block;
    margin-top: 135px;
    background: linear-gradient(180deg, #f8f8f8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
    overflow: hidden;
  }
}
