<div class="fishka__container">
  <div class="fishka" *ngIf="fishka" [ngClass]="{ 'fishka--flipped': flipped }" (click)="flipCard()">
    <div class="fishka__front">
      <p class="fishka__question">{{ fishka.question }}</p>

      <ng-container *ngTemplateOutlet="fishkaFooter; context: { fishka: fishka }"></ng-container>
    </div>
    <div class="fishka__back">
      <p class="fishka__answer">
        {{ fishka.answer }}
      </p>
      <ng-container *ngTemplateOutlet="fishkaFooter; context: { fishka: fishka }"></ng-container>
    </div>
  </div>

  <ng-template #fishkaFooter let-fishka="fishka">
    <div class="fishka__footer">
      <div
        class="fishka__difficulty"
        [ngClass]="{
          'fishka__difficulty--easy': fishka.difficulty === 'e',
          'fishka__difficulty--intermediate': fishka.difficulty === 'i',
          'fishka__difficulty--hard': fishka.difficulty === 'h'
        }"
      >
        <svg-icon src="/assets/images/fishka-logo-small.svg" svgClass="fishka__difficulty__svg"></svg-icon>
        {{ difficulty[fishka.difficulty] }}
      </div>
      <div class="fishka__category">
        <span class="fishka__category__item" *ngIf="fishka.language">{{ fishka.language.name }}</span>
        <span class="fishka__category__item" *ngIf="fishka.framework">{{ fishka.framework.name }}</span>
      </div>
    </div>
  </ng-template>
</div>
