<div class="home-about">
  <img class="home-about__anon" src="/assets/images/anon.png" alt="Anon" />

  <div class="home-about__details">
    <h3 class="home-about__title">Lorem ipsum dolor sit amet.</h3>
    <p class="home-about__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum mauris eu ex consequat vehicula.
    </p>
    <ol class="home-about__list">
      <li class="home-about__list__item">Lorem ipsum dolor sit amet</li>
      <li class="home-about__list__item">Lorem ipsum dolor sit amet</li>
      <li class="home-about__list__item">Lorem ipsum dolor sit amet</li>
    </ol>
  </div>
</div>
