<div class="home-header__about">
  <h2 class="home-header__title">Lorem ipsum dolor sit <strong>amet.</strong></h2>

  <p class="home-header__paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum mauris eu ex consequat vehicula.
  </p>

  <a routerLink="/" class="button button--shadow" title="Odkryj kategorie">Odkryj kategorie</a>
</div>

<div class="home-header__fishka">
  <div class="home-header__fishka__content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum mauris eu ex consequat vehicula. Nam mi
    orci, posuere vel nunc ut, hendrerit ultricies augue.
  </div>
  <div class="home-header__fishka__footer">
    <div class="home-header__fishka__logo">
      <svg-icon src="/assets/images/fishka-logo-small.svg" svgClass="home-header__fishka__logo__svg"></svg-icon>
      Fishka
    </div>
    <div class="home-header__fishka__category">Kategoria</div>
  </div>
</div>
