:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-header {
  &__about {
    margin-top: 120px;
    width: 50%;
  }

  &__title {
    font-size: 3.125rem;
    line-height: 4.375rem;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #0b132a;

    strong {
      font-weight: 700;
      display: block;
    }
  }

  &__paragraph {
    font-size: 1rem;
    margin: 0 0 50px 0;
    line-height: 1.875rem;
    color: #4f6665;
  }

  &__fishka {
    width: 450px;
    height: 250px;
    transform: rotate(-25deg) translate(42px, 34px);
  }
}

@media (max-width: 1310px) {
  .home-header {
    &__fishka {
      transform: rotate(-25deg) translate(-70px, -35px);
    }
  }
}
