<footer class="footer">
  <div class="footer__container container">
    <div class="footer__about">
      <h3 class="footer__about__title">Fishka</h3>
      <p class="footer__about__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="footer__about__copyright">
        <span> &copy; {{ currentYear }} Ressapanda</span>
        <a href="https://github.com/ressapanda" target="_blank" title="Form me on GitHub!"> Form me on GitHub! </a>
      </div>
    </div>
    <div class="footer__sitemap">
      <h4 class="footer__sitemap__title">Site map</h4>
      <ol class="footer__sitemap__map">
        <li class="footer__sitemap__map__item">
          <a routerLink="/">Fishki</a>
        </li>
        <li class="footer__sitemap__map__item">
          <a routerLink="/">Kategorie</a>
        </li>
        <li class="footer__sitemap__map__item">
          <a routerLink="/">Zaproponuj fiszke</a>
        </li>
        <li class="footer__sitemap__map__item">
          <a routerLink="/">Pomoc</a>
        </li>
      </ol>
    </div>
  </div>
</footer>
