@import 'src/styles/fonts.scss';
@import 'src/styles/buttons.scss';
@import 'src/styles/grid.scss';

:root {
  --dark-text-color: #0b132a;
  --light-text-color: #4f5665;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Rubik, sans-serif;
}

.tile {
  box-shadow: none !important;
}
